.banner{
    background-image: url('https://www.webworldtechnologies.in/images/shopping-cart-solutions-bottom-banner.jpg');
    /* background-size: cover; */
   
    background-attachment: fixed;
    /* background-position: center; */
}

.card img{
    transition: 3s;
}

.card:hover img{
    transform: scale(1.1);
    transition: 2s;
}