<!-- empty cart -->
<div *ngIf="allproducts.length==0"  class="container mt-5">
    <div class="row mt-5">
        <div class="col text-center mt-5">
            <img src="http://doduae.com/image/shopping_cart.gif" alt="wishlist gif">
            <h3 class="text-danger mt-3">Your Cart is Empty!!!!!</h3>
            <a class="btn btn-primary" routerLink="">Shop More</a>
        </div>
    </div>
</div>

<!-- cart design -->
<div *ngIf="allproducts.length!=0" class="cart-table container ">
    <h3 class="text-decoration-underline mb-5 text-success">Cart Summary</h3>
    <div class="row ">
        <!-- table -->
        <div class="col-lg-7 border p-3 rounded">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of allproducts; let i =index;">
                        <th> {{i+1}} </th>
                        <th>{{product.title.slice(0,30)}}...</th>
                        <th>
                            <img width="50px" height="50px" [src]="product.image" [alt]="product.title">
                        </th>
                        <th>
                            <div class="d-flex">
                                <!-- decement quantity -->
                                <button (click)="decrement(product.id)" class="btn fw-bolder">-</button>
                                <!-- quantity box -->
                                <input class="form-control text-center" id="inputQuantity" type="num" [value]="product.quantity" style="max-width: 3rem"  readonly/>
                                <!-- increment quantity -->
                                <button (click)="icrement(product.id)" class="btn fw-bolder">+</button>
                            </div>
                        </th>
                        <th>{{product.grantTotal}}</th>
                        <th>
                            <i (click)="removeitem(product.id)" class="fa-solid fa-trash text-danger icon"></i>
                        </th>
                    </tr>
                </tbody>
            </table>
            <!-- more actions -->
            <div class="d-flex justify-content-end" >
                <!-- empty cart btn -->
                <button (click)="emptycart()" class="btn btn-danger me-3"> <i class="fa-solid fa-trash fa-fade"></i> Empty Cart</button>

                <!-- shop more link -->
                <a class="btn btn-primary" routerLink=""><i class="fa-solid fa-cart-plus fa-bounce"></i>Shop More</a>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <!-- summary -->
        <div class="col-lg-4">
           <div class="border rounded p-3">
                <h4 class="text-success">Sub total:<b>$ {{cartTotalprice}}</b> </h4>
                <hr>
                <!-- button check out -->
                <div class="d-grid ">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Proceed To Buy</button>
                </div>
           </div>
        </div>
    </div>
</div>

<!-- checkout modal design -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Check out Details</h1>
          <button (click)="modalClose()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6 *ngIf="proceedtopaymentbtnclickedstatus" class="text-success">Payment Details</h6>
          <h6 *ngIf="!proceedtopaymentbtnclickedstatus" class="text-success">Enter your Delivery Details</h6>
          <form *ngIf="!proceedtopaymentbtnclickedstatus" [formGroup]="addressForm" class="border rounded p-3" (ngSubmit)="sumbitBtnCliked()">
            <div class="form-floating mb-3">
                <input name="username" formControlName="username" type="text" class="form-control" id="floatingInput" placeholder="Username" required>
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input name="flat" formControlName="flat" type="text" class="form-control" id="floatingflat" placeholder="Apartment/Flat No" required>
                <label for="floatingflat">Apartment/Flat No</label>
              </div>
              <div class="form-floating mb-3">
                <input name="street" formControlName="street" type="text" class="form-control" id="floatingstreet" placeholder="Street" required>
                <label for="floatingstreet">Street</label>
              </div>
              <div class="form-floating">
                <input name="state" formControlName="state" type="text" class="form-control" id="floatingflat12" placeholder="State" required>
                <label for="floatingflat12">State</label>
              </div>
              <!-- submit btn -->
              <div class="mt-3">
                <input type="submit" class="btn btn-primary" value="Proceed to Payment">
              </div>
          </form>

          <!-- delivery addres div -->
          <div *ngIf="proceedtopaymentbtnclickedstatus" class="mt-3 border rounded p-2">
            <h6>Delivery Address: </h6>
            <p> {{username}} </p>
            <p> {{flat}},{{street}} </p>
            <p> {{state}} </p>
          </div>

        </div>
        <!-- total and offer div -->
        <div class="d-flex justify-content-between">
          <h6 class="ms-3">Total Amount:  <span class="text-danger fw-bolder fs-4 ">${{cartTotalprice}}</span> </h6>
          <button *ngIf="!offerClickedStatus" (click)="offerClicked()" class="btn text-primary"><i class="fa-solid fa-tag fa-fade"></i> Offers</button>
        </div>

        <!-- discount coupons div -->
        <div *ngIf="offerClickedStatus" class="d-flex justify-content-evenly m-3">
            <div *ngIf="!discountClickStatus">
              <!-- discount 10% -->
              <img *ngIf="cartTotalprice<500" (click)="discount10()" width="100px" height="70px" src="https://tse2.mm.bing.net/th?id=OIP.9zf7LmZ0FeiQQ1_qTkTpqwHaEH&pid=Api&P=0" alt="coupon">
            
              <!-- discount 50% -->
              <img *ngIf="cartTotalprice>=500" (click)="discount50()" width="100px" height="70px" src="http://www.pngmart.com/files/7/Coupon-PNG-Transparent-HD-Photo.png" alt="coupon">
            </div>
        </div>

          <!-- payment success -->
          <div *ngIf="showSuccess" class="m-2">
            <p class="text-success fs-3"> Transaction completed successfully. Your order has been confirmed. Thank you for shopping with us!! </p>
          </div>
  
          <!-- payment cancel -->
          <div *ngIf="showCancel" class="m-2">
            <p class="text-primary fs-3"> Transaction has been cancelled!! </p>
          </div>
  
           <!-- payment error -->
           <div *ngIf="showError" class="m-2">
            <p class="text-danger fs-3"> Transaction has been failed!! </p>
          </div>


        <!-- make payment btn div -->
        <div *ngIf="proceedtopaymentbtnclickedstatus" class="d-grid justify-content-center m-3">
            <button *ngIf="!showPaypal"  (click)="makepayment()" class="btn btn-success">Make Payment</button>
        </div>

         
          <!-- paypal div -->
        <div *ngIf="showPaypal"  class="m-3">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>

     

      </div>
    </div>
  </div>